@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* common styles */

* {
    margin: 0;
    padding: 0;
}

body {
    width: 1600px;
    margin: 0 auto;
}

.fira-sans-font-family {
    font-family: "Fira Sans", serif;
    font-style: normal;
    font-weight: 400;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    /*max-width: 1600px;*/
}

.section-heading {
    font-size: 40px;
    color: #0E0E0E;
}

.section-description {
    font-size: 16px;
    color: #0E0E0E;
    opacity: 0.7;
}

section {
    width: 1280px;
}

button {
    cursor: pointer;
}

/* hero styles */

.hero {
    background-color: #C6E4D6;
    border-radius: 24px;
    height: 560px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*gap: 64px;*/
    /*padding: 0 100px;*/
}

.hero-text-content {

}

.hero-subtitle {
    font-size: 24px;
    color: #0E0E0E;
    opacity: 0.5;
}

.hero-title {
    font-size: 56px;
    font-weight: bold;
    margin-top: 16px;
    /*line-height: 24px;*/
}

.hero-button {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 17px 34px;
    background-color: #006A50;
    margin-top: 24px;
}

.hero-img {
    padding-right: 100px;
    width: 400px;
}

/* vision styles */

.vision {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.vision-description {
}

.vision-card-container {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    gap: 24px;
}

.vision-card {
    border-radius: 16px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.vision-card:nth-child(3n + 1) {
    background-color: rgba(84, 144, 245, 0.2);
}

.vision-card:nth-child(3n + 2) {
    background-color: rgba(9, 161, 92, 0.2);
}

.vision-card:nth-child(3n + 3) {
    background-color: rgba(255, 194, 57, 0.2);
}

.vision-card-text {
}

.vision-card-img img {
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.vision-card-title {
    font-size: 20px;
    color: #0E0E0E;
    opacity: 0.8;
}

.vision-card-description {
    margin-top: 15px;
    margin-bottom: 25px;
}

.vision-card-btn {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #006A50;
}

.green-btn {
    background-color: #09A15C;
}

.blue-btn {
    background-color: #5490F5;
}

.yellow-btn {
    background-color: #FFC239;
}