@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* common styles */

* {
    margin: 0;
    padding: 0;
}

body {
    width: 1600px;
    margin: 0 auto;
    background-color: #F1F1F3;
}

.fira-sans-font-family {
    font-family: "Fira Sans", serif;
    font-style: normal;
    font-weight: 400;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    /*max-width: 1600px;*/
}

.section-heading {
    font-size: 40px;
    color: #0E0E0E;
}

.section-description {
    font-size: 16px;
    color: #0E0E0E;
    opacity: 0.7;
}

section {
    width: 1280px;
}

button {
    cursor: pointer;
}

/* hero styles */

.hero {
    background-color: #C6E4D6;
    border-radius: 24px;
    height: 560px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*gap: 64px;*/
    /*padding: 0 100px;*/
}

.hero-text-content {

}

.hero-subtitle {
    font-size: 24px;
    color: #0E0E0E;
    opacity: 0.5;
}

.hero-title {
    font-size: 56px;
    font-weight: bold;
    margin-top: 16px;
    /*line-height: 24px;*/
}

.hero-button {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 17px 34px;
    background-color: #006A50;
    margin-top: 24px;
    transition: background-color 0.4s ease;
}


.hero-button:hover {
    background-color: #FB8C00;
    transition: background-color 0.3s ease;
}

.hero-img {
    padding-right: 100px;
    width: 400px;
}

/* vision styles */

.vision {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.vision-description {
}

.vision-card-container {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    gap: 24px;
}

.vision-card {
    border-radius: 16px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.vision-card:nth-child(3n + 1) {
    background-color: rgba(84, 144, 245, 0.2);
}

.vision-card:nth-child(3n + 2) {
    background-color: rgba(9, 161, 92, 0.2);
}

.vision-card:nth-child(3n + 3) {
    background-color: rgba(255, 194, 57, 0.2);
}

.vision-card-text {
}

.vision-card-img img {
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.vision-card-title {
    font-size: 20px;
    color: #0E0E0E;
    opacity: 0.8;
}

.vision-card-description {
    margin-top: 15px;
    margin-bottom: 25px;
}

.vision-card-btn {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #006A50;
    transition: background-color 0.4s ease;
}

.green-btn {
    background-color: #09A15C;
}

.blue-btn {
    background-color: #5490F5;
}

.yellow-btn {
    background-color: #FFC239;
}

.vision-card-btn:hover {
    background-color: #FB8C00;
    transition: background-color 0.3s ease;
}

/*

 vision quote

*/

.vision-quote-container {
    padding: 48px 24px;
    background-color: white;
    border-radius: 16px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.8);
    background-image: url("../assets/quote-bg.png");
    /*background-position: top left;*/
    background-repeat: no-repeat;
    background-position: 25px 25px;
}

.vision-quote-container .quote {

    /*box-sizing: border-box;*/
    /*background-clip: padding-box;*/
    font-size: 16px;
    color: #0E0E0E;
    opacity: 0.8;
}

.vision-quote-container .quote-author {
    font-size: 20px;
    color: #0E0E0E;
    opacity: 0.8;
    font-weight: bold;
    margin-top: 12px;
}

.vision-quote-container .quote-author-title {
    font-size: 16px;
    color: #0E0E0E;
    opacity: 0.6;
    margin-top: 8px;
}


/*

Recent News Styles

*/

.recent-news-title {
    font-size: 38px;
    color: #0E0E0E;
    opacity: 0.8;
}

.recent-news-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    margin-top: 32px;
}

.recent-news-card {
    display: flex;
    padding: 48px;
    background-color: #fff;
    border-radius: 24px;
    gap: 24px;

}

.recent-news-card:nth-child(2n) {
    flex-direction: row-reverse;
}

.recent-news-card-img {
    border-radius: 24px;
    width: 408px;
    height: 306px;
}

.recent-news-card-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 290px;
}

.recent-news-card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*gap: 24px;*/
    height: 210px;
}

.recent-news-card-title {
    font-size: 32px;
    color: #0E0E0E;
    opacity: 0.8;
}

.recent-news-card-logo-container {
    height: 40px;
    width: 134px;
    object-fit: cover;
}

.recent-news-card-datetime, .recent-news-card-description {
    font-size: 16px;
}

.recent-news-card-readmore-btn {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #006A50;
    cursor: pointer;
}

/*

 donate styles

*/

.donate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    text-align: center;
}

.donate-text-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
}

.donate-amount-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 0 90px;
}

.donate .donate-amount-buttons button {
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    border-radius: 16px;
    font-size: 40px;
    font-weight: bold;
    border: 1px solid rgba(14, 14, 14, 0.2);
    flood-color: rgba(14, 14, 14, 0.2);
    transition: background-color 0.4s ease;
}

.donate .donate-amount-buttons button:hover {
    background-color: #C6E4D6;
    transition: background-color 0.3s ease;
}

.donate form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 80%;
}

.donate form input {
    height: 64px;
    border: none;
    text-align: center;
    width: 100%;
    font-size: 20px;
}


.donate form button {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 17px 34px;
    background-color: #006A50;
    transition: background-color 0.4s ease;
}

.donate form button:hover {
    background-color: #FB8C00;
    transition: background-color 0.3s ease;
}

/*

 Newsletter Styles

*/

.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px 0;
    gap: 24px;
}

.newsletter-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    text-align: center;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.newsletter form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.newsletter input {
    height: 55px;
    border: none;
    /*text-align: center;*/
    font-size: 20px;
    flex-grow: 2;
    border-radius: 8px 0 0 8px;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
}

.newsletter input::selection {
    border: none;
}

.newsletter button {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 0 8px 8px 0;
    padding: 17px 34px;
    background-color: #006A50;
    flex-grow: 1;
    height: 56px;
    transition: background-color 0.4s ease;
}

.newsletter button:hover {
    background-color: #FB8C00;
    transition: background-color 0.4s ease;
}


